body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
  opacity:0.300000011920929;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:88px;
  width:480px;
  height:10px;
  opacity:0.5;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:88px;
  font-family:'Droid sans fallback  Regular', 'Droid sans fallback ';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  text-align:center;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:88px;
}
#u4 {
  position:absolute;
  left:0px;
  top:25px;
  width:480px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:96px;
  top:94px;
  width:10px;
  height:626px;
  opacity:0.5;
}
#u5_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u5_end {
  position:absolute;
  left:-5px;
  top:609px;
  width:20px;
  height:18px;
}
#u5_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:626px;
}
#u6 {
  position:absolute;
  left:0px;
  top:712px;
  width:480px;
  height:10px;
  opacity:0.5;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:463px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:480px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:170px;
  width:100px;
  height:10px;
  opacity:0.5;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:251px;
  width:100px;
  height:10px;
  opacity:0.5;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u9 {
  position:absolute;
  left:100px;
  top:218px;
  width:380px;
  height:10px;
  opacity:0.5;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u10 {
  position:absolute;
  left:100px;
  top:348px;
  width:380px;
  height:10px;
  opacity:0.5;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u11 {
  position:absolute;
  left:100px;
  top:478px;
  width:380px;
  height:10px;
  opacity:0.5;
}
#u11_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u11_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u12 {
  position:absolute;
  left:100px;
  top:608px;
  width:380px;
  height:10px;
  opacity:0.5;
}
#u12_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_end {
  position:absolute;
  left:363px;
  top:-5px;
  width:18px;
  height:20px;
}
#u12_line {
  position:absolute;
  left:0px;
  top:5px;
  width:380px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:333px;
  width:100px;
  height:10px;
  opacity:0.5;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:415px;
  width:100px;
  height:10px;
  opacity:0.5;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:497px;
  width:100px;
  height:10px;
  opacity:0.5;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:578px;
  width:100px;
  height:10px;
  opacity:0.5;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:660px;
  width:100px;
  height:10px;
  opacity:0.5;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:83px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  height:1px;
}
#u18 {
  position:absolute;
  left:290px;
  top:732px;
  width:170px;
  height:48px;
  font-size:24px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:48px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:166px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:490px;
  top:732px;
  width:140px;
  height:68px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:68px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:35px;
  top:29px;
  width:30px;
  height:10px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  height:3px;
}
#u23 {
  position:absolute;
  left:35px;
  top:49px;
  width:31px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u23_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_end {
  position:absolute;
  left:14px;
  top:-5px;
  width:18px;
  height:20px;
}
#u23_line {
  position:absolute;
  left:0px;
  top:4px;
  width:31px;
  height:3px;
}
#u24 {
  position:absolute;
  left:275px;
  top:280px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:56px;
  color:#63BDB4;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u25 {
  position:absolute;
  left:0px;
  top:-14px;
  width:30px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:35px;
  top:284px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#63BDB4;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u27 {
  position:absolute;
  left:0px;
  top:-10px;
  width:30px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:550px;
  top:48px;
  width:267px;
  height:42px;
  color:#1B1B1B;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:42px;
}
#u29 {
  position:absolute;
  left:2px;
  top:13px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:550px;
  top:90px;
  width:267px;
  height:88px;
  opacity:0.400000005960464;
  color:#1B1B1B;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:88px;
}
#u31 {
  position:absolute;
  left:2px;
  top:36px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:550px;
  top:178px;
  width:267px;
  height:42px;
  opacity:0.5;
  color:#1B1B1B;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:42px;
}
#u33 {
  position:absolute;
  left:2px;
  top:13px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:570px;
  top:61px;
  width:92px;
  height:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  visibility:hidden;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:558px;
  top:184px;
  width:122px;
  height:30px;
  color:#1B1B1B;
}
#u36_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:124px;
  height:32px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:688px;
  top:184px;
  width:122px;
  height:30px;
  color:#1B1B1B;
}
#u38_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:124px;
  height:32px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:640px;
  top:122px;
  width:170px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#1E1E1E;
  text-align:left;
}
#u41 {
  position:absolute;
  left:556px;
  top:125px;
  width:73px;
  height:19px;
  font-size:18px;
  color:#63BDB4;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
}
#u42 {
  position:absolute;
  left:0px;
  top:-2px;
  width:73px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:550px;
  top:55px;
  width:267px;
  height:28px;
  font-size:24px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:26px;
  top:120px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:25px;
  top:200px;
  width:49px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:116px;
  top:98px;
  width:100px;
  height:100px;
  font-family:'fontaweso Regular', 'fontaweso';
  font-weight:400;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u50 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:242px;
  top:112px;
  width:62px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:242px;
  top:174px;
  width:77px;
  height:24px;
  font-size:20px;
  color:#FF9900;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u55 {
  position:absolute;
  left:246px;
  top:140px;
  width:101px;
  height:34px;
  opacity:0.699999988079071;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:34px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:440px;
  top:102px;
  width:30px;
  height:30px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#63BDB4;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:80px;
  top:300px;
  width:470px;
  height:-160px;
}
#u59_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:94px;
  height:20px;
}
#u59_seg1 {
  position:absolute;
  left:70px;
  top:-72px;
  width:20px;
  height:82px;
}
#u59_seg2 {
  position:absolute;
  left:70px;
  top:-72px;
  width:360px;
  height:20px;
}
#u59_seg3 {
  position:absolute;
  left:410px;
  top:-170px;
  width:20px;
  height:118px;
}
#u59_seg4 {
  position:absolute;
  left:410px;
  top:-170px;
  width:64px;
  height:20px;
}
#u60 {
  position:absolute;
  left:203px;
  top:-70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
